In [6]:
import pandas as pd

distfile = "../resources/district_crime.csv"
typefile = "../resources/crime_type.csv"

district = pd.read_csv(distfile)
types = pd.read_csv(typefile)

In [7]:
district_df = district.set_index('district')
district_df.head()

              description  count
district
Downtown     Other crimes    145
Downtown  Deceased Person     34
Downtown   Missing Person     31
Downtown          Assault     20
Downtown        Sex crime     15

In [10]:
district_html = district_df.to_html()
district_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>description</th>      <th>count</th>    </tr>    <tr>      <th>district</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Downtown</th>      <td>Other crimes</td>      <td>145</td>    </tr>    <tr>      <th>Downtown</th>      <td>Deceased Person</td>      <td>34</td>    </tr>    <tr>      <th>Downtown</th>      <td>Missing Person</td>      <td>31</td>    </tr>    <tr>      <th>Downtown</th>      <td>Assault</td>      <td>20</td>    </tr>    <tr>      <th>Downtown</th>      <td>Sex crime</td>      <td>15</td>    </tr>    <tr>      <th>North</th>      <td>Other crimes</td>      <td>157</td>    </tr>    <tr>      <th>North</th>      <td>Deceased Person</td>      <td>88</td>    </tr>    <tr>      <th>North</th>      <td>Missing Person</td>      <td>80</td>    </tr>    <tr>      <th>North</th>      <td>Assault</td>      <td>37</td>    </tr>    <tr>      <th>North</th>      <td>Sex crime</td>      <td>17</td>    </tr>    <tr>      <th>Northeast</th>      <td>Other crimes</td>      <td>100</td>    </tr>    <tr>      <th>Northeast</th>      <td>Missing Person</td>      <td>91</td>    </tr>    <tr>      <th>Northeast</th>      <td>Deceased Person</td>      <td>75</td>    </tr>    <tr>      <th>Northeast</th>      <td>Assault</td>      <td>39</td>    </tr>    <tr>      <th>Northeast</th>      <td>Sex crime</td>      <td>22</td>    </tr>    <tr>      <th>Northwest</th>      <td>Other crimes</td>      <td>135</td>    </tr>    <tr>      <th>Northwest</th>      <td>Deceased Person</td>      <td>64</td>    </tr>    <tr>      <th>Northwest</th>      <td>Missing Person</td>      <td>25</td>    </tr>    <tr>      <th>Northwest</th>      <td>Sex crime</td>      <td>12</td>    </tr>    <tr>      <th>Northwest</th>      <td>Assault</td>      <td>9</td>    </tr>    <tr>      <th>Southeast</th>      <td>Other crimes</td>      <td>174</td>    </tr>    <tr>      <th>Southeast</th>      <td>Missing Person</td>      <td>131</td>    </tr>    <tr>      <th>Southeast</th>      <td>Assault</td>      <td>57</td>    </tr>    <tr>      <th>Southeast</th>      <td>Deceased Person</td>      <td>55</td>    </tr>    <tr>      <th>Southeast</th>      <td>Sex crime</td>      <td>28</td>    </tr>    <tr>      <th>Southwest</th>      <td>Other crimes</td>      <td>130</td>    </tr>    <tr>      <th>Southwest</th>      <td>Deceased Person</td>      <td>58</td>    </tr>    <tr>      <th>Southwest</th>      <td>Missing Person</td>      <td>50</td>    </tr>    <tr>      <th>Southwest</th>      <td>Assault</td>      <td>19</td>    </tr>    <tr>      <th>Southwest</th>      <td>Sex crime</td>      <td>16</td>    </tr>  </tbody></table>'

In [11]:
types_df = types.set_index('description')
types_df

                  district  count
description
Assault          Southeast     57
Assault          Northeast     39
Assault              North     37
Assault           Downtown     20
Assault          Southwest     19
Assault          Northwest      9
Deceased Person      North     88
Deceased Person  Northeast     75
Deceased Person  Northwest     64
Deceased Person  Southwest     58
Deceased Person  Southeast     55
Deceased Person   Downtown     34
Missing Person   Southeast    131
Missing Person   Northeast     91
Missing Person       North     80
Missing Person   Southwest     50
Missing Person    Downtown     31
Missing Person   Northwest     25
Other crimes     Southeast    174
Other crimes         North    157
Other crimes      Downtown    145
Other crimes     Northwest    135
Other crimes     Southwest    130
Other crimes     Northeast    100
Sex crime        Southeast     28
Sex crime        Northeast     22
Sex crime            North     17
Sex crime        Southwest     16
Sex crime         Downtown     15
Sex crime        Northwest     12

In [12]:
types_html = types_df.to_html()
types_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>district</th>      <th>count</th>    </tr>    <tr>      <th>description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Assault</th>      <td>Southeast</td>      <td>57</td>    </tr>    <tr>      <th>Assault</th>      <td>Northeast</td>      <td>39</td>    </tr>    <tr>      <th>Assault</th>      <td>North</td>      <td>37</td>    </tr>    <tr>      <th>Assault</th>      <td>Downtown</td>      <td>20</td>    </tr>    <tr>      <th>Assault</th>      <td>Southwest</td>      <td>19</td>    </tr>    <tr>      <th>Assault</th>      <td>Northwest</td>      <td>9</td>    </tr>    <tr>      <th>Deceased Person</th>      <td>North</td>      <td>88</td>    </tr>    <tr>      <th>Deceased Person</th>      <td>Northeast</td>      <td>75</td>    </tr>    <tr>      <th>Deceased Person</th>      <td>Northwest</td>      <td>64</td>    </tr>    <tr>      <th>Deceased Person</th>      <td>Southwest</td>      <td>58</td>    </tr>    <tr>      <th>Deceased Person</th>      <td>Southeast</td>      <td>55</td>    </tr>    <tr>      <th>Deceased Person</th>      <td>Downtown</td>      <td>34</td>    </tr>    <tr>      <th>Missing Person</th>      <td>Southeast</td>      <td>131</td>    </tr>    <tr>      <th>Missing Person</th>      <td>Northeast</td>      <td>91</td>    </tr>    <tr>      <th>Missing Person</th>      <td>North</td>      <td>80</td>    </tr>    <tr>      <th>Missing Person</th>      <td>Southwest</td>      <td>50</td>    </tr>    <tr>      <th>Missing Person</th>      <td>Downtown</td>      <td>31</td>    </tr>    <tr>      <th>Missing Person</th>      <td>Northwest</td>      <td>25</td>    </tr>    <tr>      <th>Other crimes</th>      <td>Southeast</td>      <td>174</td>    </tr>    <tr>      <th>Other crimes</th>      <td>North</td>      <td>157</td>    </tr>    <tr>      <th>Other crimes</th>      <td>Downtown</td>      <td>145</td>    </tr>    <tr>      <th>Other crimes</th>      <td>Northwest</td>      <td>135</td>    </tr>    <tr>      <th>Other crimes</th>      <td>Southwest</td>      <td>130</td>    </tr>    <tr>      <th>Other crimes</th>      <td>Northeast</td>      <td>100</td>    </tr>    <tr>      <th>Sex crime</th>      <td>Southeast</td>      <td>28</td>    </tr>    <tr>      <th>Sex crime</th>      <td>Northeast</td>      <td>22</td>    </tr>    <tr>      <th>Sex crime</th>      <td>North</td>      <td>17</td>    </tr>    <tr>      <th>Sex crime</th>      <td>Southwest</td>      <td>16</td>    </tr>    <tr>      <th>Sex crime</th>      <td>Downtown</td>      <td>15</td>    </tr>    <tr>      <th>Sex crime</th>      <td>Northwest</td>      <td>12</td>    </tr>  </tbody></table>'